@model QuizMvc.Models.UserData
 
<h2>Enter</h2>
 
<a asp-action="Create" asp-controller="User">Registration</a>
 
<form asp-action="Login" asp-controller="User" asp-anti-forgery="true">
    
    <div class="validation" asp-validation-summary="ModelOnly"/>
    
    <div>
        <div class="form-group">
            <label asp-for="Username">User Name</label>
            <input type="text" asp-for="FirstName"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="text" asp-for="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Enter" class="btn"/>
        </div>
    </div>
    
</form>