@using System.Collections
@using Microsoft.AspNetCore.Mvc.Rendering
@model QuizMvc.Models.AnswerTypeData

@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = "_Layout";
}

<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>

<script language="javascript" type="text/javascript">
 
    function quizNameChange() {
        var quizID = $('#QuizName').val();
        $("#QuestionTypeName").empty();
        $.ajax({
            url: '/QuestionType/GetQuestionTypesByQuiz',
            type: "GET",
            dataType: "JSON",
            data: { QuizID: quizID },
            success: function (response) {
                console.log(response);
                $.each(response, function (index, item) {
                    $("#QuestionTypeName").append($('<option/>', {
                        value: item.id,
                        text: item.questionTypeName
                    }));
                });
            }
        });
    }
    
</script>

@using (Html.BeginForm(ViewBag.CreateMode ? "Create" : "Edit", "AnswerType"))
{
    <div class="form-group">
        <label for="sel1">Quiz Name</label>  
        @Html.DropDownListFor(x => Model.QuizID, new SelectList((IEnumerable)ViewData["Quizes"], "ID", "QuizName"), new { @class = "form-control", onchange="quizNameChange()", @id = "QuizName"})
        
        <br/>
        <label for="sel1">Question Type Name</label>
        @Html.DropDownListFor(x => Model.QuestionTypeID, new SelectList((IEnumerable)ViewData["QuestionTypes"], "ID", "QuestionTypeName"), new { @class = "form-control", @id = "QuestionTypeName"})            
        <br/>

        <label for="sel1">Answer Type Name</label>
        <input asp-for="AnswerTypeName" class="form-control"/>
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
}


