@using System.Collections
@using Microsoft.AspNetCore.Mvc.Rendering
@model QuizMvc.Models.AnswerTypeData

@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = "_Layout";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script language="javascript" type="text/javascript">
    
    function quizNameChange() {
        var quizID = $('#QuizName').val();
        $.ajax({
            url: '/QuestionType/GetQuestionTypesByQuiz',
            type: "GET",
            dataType: "JSON",
            data: { QuizID: quizID },
            success: function (response) {
                console.log(response);
                $.each(response, function (quizID, questionTypeName) {
                    $("#QuizName").append(
                        $('<option></option>').val(quizID).html(questionTypeName));
                });
            }
        });
    }
    
    
</script>

<form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label for="sel1">Quiz Name</label>             
        @Html.DropDownList("QuizName",new SelectList((IEnumerable)ViewData["Quizes"], "ID", "QuizName"),new { @class = "form-control", onchange="quizNameChange()"})
        
        <br/>
        <label for="sel1">Question Type Name</label>
        @Html.DropDownList("QuizName",new SelectList((IEnumerable)ViewData["QuestionTypes"], "ID", "QuestionTypeName"),new { @class = "form-control"})              
        <br/>

        <label for="sel1">Answer Type Name</label>
        <input asp-for="AnswerTypeName" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>