@model IEnumerable<QuizData.Models.Quiz>
@{
    ViewData["Title"] = "Quiz";
    Layout = "_Layout";
}
<table class="table table-sm table-striped">
    <thead>
    <tr><th>ID</th><th>Name</th><th>Category</th><th>Price</th></tr>
    </thead>
    <tbody>
    @foreach (var quiz in Model) {
        <tr>
            <td>@quiz.QuizID</td>
            <td>@quiz.QuizName</td>
            <td>
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit"
                       class="btn btn-sm btn-warning" asp-route-id="@quiz.QuizID">
                        Edit
                    </a>
                    <input type="hidden" name="id" value="@quiz.QuizID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Product</a>