@model QuizMvc.Models.UserRoleData
@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = "_Layout";
}

<form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label for="sel1">Select User Name</label>
        <select class="form-control" asp-for="UserID" asp-items="@(new SelectList(Model.Users, "ID", "Username"))"></select>
        
        <br/>
        
        <label for="sel1">Select Role Name</label>
        <select class="form-control" asp-for="RoleID" asp-items="@(new SelectList(Model.Roles, "ID", "Name"))"></select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>