@model QuizData.Question
@{
    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = "_Layout";
}

<form asp-action="@(ViewBag.CreateMode ? "Create" : "Edit")" method="post">
    <div class="form-group">
        <label asp-for="QuizID"></label>
        <input asp-for="QuizID" class="form-control" />
        <label asp-for="QuizThemeID"></label>
        <input asp-for="QuizThemeID" class="form-control" />
        <label asp-for="AnswerTypeID"></label>
        <input asp-for="AnswerTypeID" class="form-control" />
        <label asp-for="QuestionTypeID"></label>
        <input asp-for="QuestionTypeID" class="form-control" />
        <label asp-for="QuestionImage"></label>
        <input asp-for="QuestionImage" class="form-control" />
        <label asp-for="CorrectAnswer"></label>
        <input asp-for="CorrectAnswer" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>